// SPDX-License-Identifier: GPL-2.0-or-later
#include <windows.h>
#pragma code_page(65001)

1 ICON "sirga.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,5,0,0
PRODUCTVERSION 0,5,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0C0A04B0"
        BEGIN
            VALUE "CompanyName", "Sirga Studio contributors"
            VALUE "FileDescription", "Sirga Studio PC"
            VALUE "FileVersion", "0.5.0"
            VALUE "InternalName", "SirgaStudioPC"
            VALUE "LegalCopyright", "Código bajo GPL-2.0-or-later"
            VALUE "LegalTrademarks", "Sirga Studio es una marca de Miguel Lopez"
            VALUE "OriginalFilename", "SirgaStudioPC.exe"
            VALUE "ProductName", "Sirga Studio"
            VALUE "ProductVersion", "0.5.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0C0A, 1200
    END
END
